.navbar{
    color: rgb(148, 145, 145);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(105, 104, 103);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .nav-logo{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav-logo-text{
    font-size: 15px;
  }
  
  .nav-item{
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }