.navbar{
    background-color: rgb(238, 238, 238);
    color: rgb(148, 145, 145);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  

  .navbar-dark{
    background-color:rgb(43, 42, 42);
    color: rgb(235, 234, 234);
  }
  .nav-logo{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav-logo-text{
    font-size: 15px;
  }
  
  .nav-items{
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: center;
    font-size: 20px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(126, 126, 236);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(126, 126, 236);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }