body{
  background-color: rgb(238, 238, 238);
  font-family: 'Kanit', sans-serif;
  color: rgb(148, 145, 145);

}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}



/* rgb(238, 238, 238); */